<img class="afbeelding" src="http://unamore.com/app/themes/roots/assets/img/maan_2500.jpg"  />
<div class="spinner spinner-hide">
	<div class="double-bounce1"></div>
	<div class="double-bounce2"></div>
</div>