

	  			<div ng-controller="TitleCtrl">

	                <un-title></un-title>

	            </div>

	            <div ng-controller="MenuCtrl">

	                <un-menu></un-menu>

	            </div>

				<div ng-controller="NieuwsbriefSingleCtrl">

	  				<un-nieuwsbrief></un-nieuwsbrief>

	  			</div>

	  			<div ng-controller="ArchiefCtrl">

	  				<un-archief></un-archief>

	  			</div>

	  			<div ng-controller="ArchiefCtrl">

	  				<un-archief></un-archief>

	  			</div>

	  			<div ng-controller="LinksCtrl">

	  				<un-links></un-links>

	  			</div>



