
  <div id="jaartallen">

    <div class="jaren_container" ng-init="$parent.filter_year = {year:'2020'}">
      <a ng-click="$parent.filter_year = {year:'2019'}">2020</a>
      <a ng-click="$parent.filter_year = {year:'2019'}">2019</a>
      <a ng-click="$parent.filter_year = {year:'2018'}">2018</a>
      <a ng-click="$parent.filter_year = {year:'2017'}">2017</a>
      <a ng-click="$parent.filter_year = {year:'2016'}">2016</a>
    </div>

     <div class="jaren_container_bodem">
        <a ng-click="$parent.filter_year = {year:'2015'}">2015</a>
        <a ng-click="$parent.filter_year = {year:'2014'}">2014</a>
        <a ng-click="$parent.filter_year = {year:'2013'}">2013</a>
        <a ng-click="$parent.filter_year = {year:'2012'}">2012</a>
        <a ng-click="$parent.filter_year = {year:'2011'}">2011</a>
        <a ng-click="$parent.filter_year = {year:'2010'}">2010</a> 
      </div>
  </div>
        
  <div id="archief" class="row-fluid">

      <div class="col-xs-3 col-sm-6 bericht" ng-repeat="post in berichten | filter:filter_year" | orderBy:'datum'>

            <img ng-src="{{post.attachments[0].thumbnail}}" fallback-src="http://unamore.com/admin/wp-content/uploads/2020/fallback.jpg" ng-click="change({{berichten.indexOf(post)}});" />

            <span class="archief_datum" ng-click="change($index);">
                {{ post.datum | date:'MMMM' }}
            </span>

      </div>
    
  </div>

  

