<!-- <section id="showcase">
	<image-loader jrc="https://unamore.com/app/themes/roots/assets/img/maan_3200.jpg">
	</image-loader>
	<a href="#home_content">
		<span id="arrow_down" class="glyphicon glyphicon-arrow-down"></span> 
	</a>
</section> -->

<section id="home_content">
	<!-- <div id="background">
		<div id="cirkel">
		</div>
	</div> --> 
	<div ng-controller="HomeCtrl" ng-init="init();"> <!-- class="container"  --> 
		<!-- <div class="row">	--> <!--  class="col-xs-12 col-sm-7" --> 
	
			
				
			<div id="center">
				<div id="tekst">
					<!-- 	<img class="foto" ng-src="{{nieuwsbrief.attachments[0].medium}}" alt="{{nieuwsbrief.title}}" title="{{nieuwsbrief.title}}" /> --> 
					<h3 ng-bind-html="nieuwsbrief.title"></h3>	
					<span ng-bind-html="nieuwsbrief.content"></span>
				</div> <!-- class="col-xs-12 col-sm-4 col-sm-offset-1" --> 
			</div>

			<div id="zijbalk">

				<a ui-sref="serie({serie:'parijs'})">
	         		<div class="steden_cirkel">
	              		<h2>Parijs</h2>
	              		<div class="image_container">
	                 		<img ng-src="https://unamore.com/app/uploads/2014/07/12161-rivier-de-seine-a-paris1-300x300.jpg" ng-click="" />
	              		</div>
	         		</div>
     			</a>

				<div id="weekenden">
					<h3>agenda</h3>
					<ul>
						<li>
							3-4 oktober: De mens, een lichtstraal van de zon.<br/>

							7-8 november: Het licht in de steden in een verduisterde wereld.<br/>

							4-6 december: Geen thema .... waarin je vrij kunt rond kijken naar de schilderijen op het atelier en in huis.<br/><br/>

							Vanwege de leefregels rond de aanwezigheid van het corona-virus is er een beperkt aantal deelnemers toegestaan. Neem daarom even contact met mij op per email of telefoon 020 - 6123532
							<br/>
						</li>
					</ul>
				</div>

				<a ui-sref="serie({serie:'fatima'})">  <!--href="{{weburl}}/category/fatima/" -->
             		<div class="steden_cirkel">
                  		<h2>Fatima</h2>
                  		<div class="image_container">
                     		<img ng-src="{{weburl}}/app/uploads/2014/08/12189-schild-voor-de-stad-entroncamento.jpg" ng-click="" />
                  		</div>
             		</div>
         		</a>

         		<a ui-sref="serie({serie:'mens'})">
             		<div class="steden_cirkel">
                  		<h2>Wij Mensen</h2>
                  		<div class="image_container">
                     		<img ng-src="http://unamore.com/app/uploads/2015/01/rosa_parks_en_malcolm_x-300x237.jpg" ng-click="" />
                  		</div>
             		</div>
         		</a>

         		<a ui-sref="serie({serie:'aarde'})">
             		<div class="steden_cirkel">
                  		<h2>Aarde</h2>
                  		<div class="image_container">
                     		<img ng-src="http://unamore.com/app/uploads/2014/07/10090-de-aarde-300x244.jpg" ng-click="" />
                  		</div>
             		</div>
         		</a>


			</div>
			
		<!-- </div> -->
	</div> 
</section>

<!-- <section id="contact_titel">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			 	<div class="titel">
	  		        <span class="streep"></span><h1>l'Ouverture</h1><span class="streep"></span>
	        	</div>
			</div>
		</div>
	</div>
</section> -->

<section id="contact">

	<div id="kaart">
		<img src="/assets/img/kaartje.jpg" />
		<ul>
			<a href="{{weburl}}/louverture"><li><span class="glyphicon glyphicon-chevron-right"></span>Meer over de l'Ouverture</li></a>
			<a ui-sref="reacties"><li><span class="glyphicon glyphicon-chevron-right"></span>Reacties</li></a>
		</ul>
	</div>

	<div id="contact_tekst">
		
		<p>Elke eerste zaterdag en zondag van de maand opent Unamore in de middag haar atelier voor belangstellenden. De deur van haar huis staat vanaf half twee open. Rond twee uur is er een korte inleiding over een thema, waar haar schilderijen die middag een rol in spelen. Daarna neemt Unamore je mee naar haar atelier waar ze de schilderijen één voor een toont. Bij elk schilderij praten we over onze ervaringen. Ieder weekend heeft een eigen thema.</p>

		<p>Wil je van te voren aan de weekenden herinnerd worden, dan kun je je aanmelden voor de maandelijkse nieuwsbrief via <a href="mailto:viva@unamore.com">viva@unamore.com</a>.</p>

		<p>Het adres waar de weekenden van de l'Ouverture d'Unamore plaatsvinden en waar je post naar toe kunt sturen is.</p>

		l'Ouverture d'Unamore<br/>
		Nassaukade 169b<br/>
		1053LL Amsterdam<br/>
		020-6123532 (09.00-20.00)<br/>
		<a href="mailto:viva@unamore.com">viva@unamore.com</a>
		<br/>
		<br/>

		<p>Het huis bevind zich dichtbij de hoek van de Nassaukade met de Rozengracht.  Trams 13 en 17 rijden direct vanaf en naar het Centraal Station. De halte heet Marnixstraat. Ook de trams 3, 7, 12 en 14 stoppen op loopafstand.</p>


	</div>

</section>



