<div id="zwevend_menu_container">
   <div id="zwevend_menu">
      

    <div class="menu-bovenkant" ng-click="close_menu()">

            <span class="glyphicon glyphicon-chevron-up"></span>

    </div>

	<div class="menu" ng-switch="language">

             <div class="menu_content" ng-switch-when="nl">

            	<span class="item"><a ui-sref="home">Home</a></span>

                <span class="lijn"></span>
             
          <!--       <span class="item"><a ui-sref="paris" ng-click="close_menu();">Parijs</a></span> -->
                <span class="item"><a ui-sref="steden" ng-click="close_menu();">Zeven steden</a></span>

                <span class="item"><a ui-sref="serie({serie:'zonen-van-jacob'})" ng-click="close_menu();">Jacob familie</a></span>
                <span class="item"><a ui-sref="serie({serie:'kosmos'})" ng-click="close_menu();">Kosmos</a></span>
                <span class="item"><a ui-sref="serie({serie:'hemels-gezelschap'})" ng-click="close_menu();">Hemels Gezelschap</a></span>
                <span class="item"><a ui-sref="serie({serie:'mens'})" ng-click="close_menu();">Wij mensen</a></span>
                <span class="item"><a ui-sref="serie({serie:'aarde'})" ng-click="close_menu();">Aarde</a></span>

                <span class="lijn"></span>

                <span class="item"><a ui-sref="nieuwsbrieven" ng-click="close_menu();">Nieuwsbrieven</a></span>
                <span class="item"><a ui-sref="pages({titel:'biografie'})">Biografie</a></span>
                <span class="item"><a ui-sref="pages({titel:'louverture'})">l'Ouverture</a></span>
                <span class="item"><a ui-sref="pages({titel:'schilden'})">Schilden</a></span>
                <span class="item"><a ui-sref="pages({titel:'prijzen'})">Verkoop</a></span>  

            </div>

             <div class="menu_content" ng-switch-when="en">

                <span class="item"><a ui-sref="pages({titel:'biografie'})">Biography</a></span></span>
                <span class="item"><a ui-sref="steden">Seven cities</a></span>
                <span class="item"><a ui-sref="serie({serie:'amsterdam'})" ng-click="close_menu();">Amsterdam</a></span>
                <span class="item"><a ui-sref="serie({serie:'berlijn'})" ng-click="close_menu();">Berlin</a></span>
                <span class="item"><a ui-sref="serie({serie:'fatima'})" ng-click="close_menu();">Fatima</a></span>
                <span class="item"><a ui-sref="serie({serie:'zonen-van-jacob'})" ng-click="close_menu();">Jacob family</a></span>
                <span class="item"><a ui-sref="prijzen">Prices</a></span> 
                 
            </div>

            <div class="menu_content" ng-switch-when="de">

                <span class="item"><a ui-sref="pages({titel:'biografie'})">Biographie</a></span>
                <span class="item"><a ui-sref="steden">Sieben Städte</a></span>
                <span class="item"><a ui-sref="serie({serie:'berlijn'})" ng-click="close_menu();">Berliner Lieder</a></span>
                <span class="item"><a ui-sref="pages({titel:'prijzen'})">Verkauf</a></span> 
                 
            </div>

            <div class="menu_content" ng-switch-when="fr">

                <span class="item"><a ui-sref="pages({titel:'biografie'})">Biographie</a></span>
                <span class="item"><a ui-sref="steden">7 Villes Européennes</a></span>
                <span class="item"><a ui-sref="serie({serie:'parijs'})" ng-click="close_menu();">Couleurs de Paris</a></span>
                <span class="item"><a ui-sref="pages({titel:'prijzen'})">Vente</a></span> 
                
                 
            </div>

            <div class="menu_content" ng-switch-when="po">

                <span class="item"><a ui-sref="pages({titel:'biografie'})">Biografia</a></span>
                <span class="item"><a ui-sref="steden">Sete cidades europeus</a></span>
                <span class="item"><a ui-sref="serie({serie:'fatima'})" ng-click="close_menu();">Fatima</a></span>
                <span class="item"><a ui-sref="serie({serie:'zonen-van-jacob'})" ng-click="close_menu();">A familia Jacob</a></span>
                 
            </div>

	</div> 


   
    <div class="menu-onderkant" ng-click="open_menu()"  >

            <span class="glyphicon glyphicon-chevron-down"></span>


    </div>
    </div>
  </div>
