
	    		<div id="nieuwsbrief" class="pagina" ng-class="{'scherp': fadein }">

				    <div class="titel">
		  		        <h1 ng-bind-html="nieuwsbrief.title"></h1>
		  	
		        	</div>
				    <div ng-bind-html="nieuwsbrief.content"></div>

			    </div>




     



