
<section id="nieuwsbrieven"> 

	<div class="container" ng-init="init();">  <!--  ng-controller="ArchiefCtrl"  -->

		<div class="row">	

			<div class="col-xs-12 col-sm-9 col-sm-push-3">

				<nieuwsbrief></nieuwsbrief>

			</div>

			<div id="zijbalk_links" class="col-xs-12 col-sm-3 col-sm-pull-9">

				<archief></archief>

			</div>

		</div>

	</div> 

</section>

