<section id="pagina">
	<div class="container">
		<div class="row">

	 		<div class="pagina col-md-8 col-md-offset-2" ng-class="{'scherp': fadein }" ng-controller="PaginaCtrl" ng-init="init()">
		        <div class="titel">
		  		        <span class="streep"></span><h1 ng-bind-html="pagina.titel"></h1><span class="streep"></span>
		        </div>
			    <div ng-bind-html="pagina.tekst"></div>

	      	</div>
	    </div>
	</div>
</section>



