<section id="pagina">
	<div class="container">
		<div class="row">


<div class="col-md-8 col-md-offset-2">

	<h1>Unamore</h1>
	 
	<h2>Les Couleurs de Paris</h2>


	<div class="datum">
	Du 28 mars au 13 avril 2015<br/>
	Du lundi au vendredi de 10h30 à 17h<br/>
	Le jeudi jusqu’à 19h, le samedi de 10h à 12h
	</div>
	<div class="adres">
	78, rue Bonaparte 75006,<br/> 
	Place St. Sulpice, Paris
	</div>

</div>

</div>

	 		<div class="pagina col-md-8 col-md-offset-2" ng-class="{'scherp': fadein }" ng-controller="PaginaCtrl" ng-init="init()">
		        <div class="titel">
		  		        <span class="streep"></span><h1 ng-bind-html="pagina.titel"></h1><span class="streep"></span>
		        </div>
			    <div ng-bind-html="pagina.tekst"></div>

	      	</div>
	    </div>

	</div>
</section>



