<section id="pagina">
	<div class="container">
		<div class="row">

	 		<div class="pagina col-md-8 col-md-offset-2" ng-class="{'scherp': fadein }" ng-controller="PaginaCtrl" ng-init="init()">
		        <div class="titel">
		  		        <span class="streep"></span><h1 ng-bind-html="pagina.titel"></h1><span class="streep"></span>
		        </div>
			    <div ng-bind-html="pagina.tekst"></div>

		      	<!--<table id="lijst_met_prijzen" cellpadding="10" ng-controller="PrijzenCtrl" ng-init="init('parijs')">-->
		      		<!--<tr ng-repeat="schilderij in serie">-->
		      			<!--<td ng-bind-html="schilderij.title"></td>-->
		      			<!--<td ng-bind-html="schilderij.custom_fields.maten[0]" class="maten">{{schilderij.custom_fields.maten[0]}}</td>-->
		      			<!--<td class="prijzen">&euro;<span ng-bind-html="schilderij.custom_fields.prijs[0]"></span></td>-->
		      		<!--</tr>-->
		      	<!--</div>-->

	      	</div>
	    </div>
	</div>
</section>



