<section id="reacties" ng-class="{'scherp': fadein }" ng-controller="ReactieCtrl" ng-init="initReactie();"> 

	<div class="container">

		<div class="row" ng-repeat="reactie in reacties">



			<div class="col-sm-offset-1 col-sm-10">
				<div class="row">
					<div class="col-sm-3">
						<img ng-src="{{reactie.attachments[0].medium}}" alt="{{reactie.title}}" title="{{reactie.title}}"  />
					</div>
					<div class="reactie col-sm-9">
						<div class="tekst">
							<h2 ng-bind-html="reactie.title"></h2>
							<div ng-bind-html="reactie.content"></div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div> 

</section>
