<section id="pagina">
	<div class="container">
		<div class="row">

	 		<div class="pagina col-md-8 col-md-offset-2" ng-class="{'scherp': fadein }" ng-controller="PaginaCtrl" ng-init="init()">
		        <div class="titel">
		  		        <span class="streep"></span><h1 ng-bind-html="pagina.titel"></h1><span class="streep"></span>
		        </div>
			    <div ng-bind-html="pagina.tekst"></div>

	      	</div>
	    </div>

	    <div class="row" ng-if="">

		    <div class="col-sm-6" ng-repeat="attachment in pagina.page.attachments">
		    	<img src="attachment.medium" title="pagina.page.titel" alt="pagina.page.titel" />
		    </div>

	    </div>

	</div>
</section>



