	<div id="schilderij_controller" ng-controller="SerieCtrl" ng-init="init();" > 

			<div class="schilderij-container" ng-class="{'selectie': selectie,'verhaal': verhaal, vierkant : (screen_ratio > 0.64)}">

					<div class="spinner spinner-hide">
						<div class="double-bounce1"></div>
	  					<div class="double-bounce2"></div>
					</div>

					<!-- keuze -->

					<div class="serie-scroller"> 
	
						<div mb-scrollbar class="scroll-container">

							<div class="serie_img_container" ng-repeat="post in serie">
								<img ng-src="{{post.attachments[0].thumbnail}}" alt="{{post.title}}" title="{{post.title}}" ng-click="change($index);" />
							</div>

						</div>
						<div class="click-container" ng-click="selectie_blow_up()">
							<span class="glyphicon glyphicon-th"></span>
						</div>

					</div>

					<!-- afbeelding --> 


					<img imageonload class="schilderij" ng-show="screen_height < 1400" ng-src="{{schilderij.attachments[0].large}}" ng-click="center(); "/> 
					<img imageonload class="schilderij" ng-hide="screen_height < 1400" ng-src="{{schilderij.attachments[0].url}}" ng-click="center(); "/> 

					<!-- informatie --> 

					<div class="schilderij_info">
							
							<div mb-scrollbar class="informatie">		
								<h1 ng-bind-html="schilderij.titel"></h1>
								<p ng-bind-html="schilderij.tekst"></p>
								<div class="medium">
									<span ng-bind-html="schilderij.custom_fields.maten[0]"></span> - 
									<span ng-bind-html="schilderij.custom_fields.medium[0]"></span>
								</div>
								<div class="close_icon" ng-click="center()">
									<span class="glyphicon glyphicon-remove"></span>
								</div>
							</div>

							<div class="click-container" ng-click="info_blow_up()">
								<span class="glyphicon glyphicon-info-sign"></span>
							</div>

							
					</div>

			<div>

	</div>
