<section id="steden">

  <div id="steden_container" class="container" ng-controller="StedenCtrl" ng-init="initSteden()">

    <div class="row">
      <a ui-sref="serie({serie:'mechelen'})">
          <div id="cirkel_een" class="steden_cirkel">
                  <h2>Mechelen</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/assets/img/10041aantrekkingskrvm.jpg" ng-click="" />
                  </div>
            </div>
          </a>
          <a ui-sref="serie({serie:'brussel'})">
             <div id="cirkel_twee" class="steden_cirkel">
                  <h2>Brussel</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/assets/img/ommegang.jpg" ng-click="" />
                  </div>
             </div>
           </a>
           <a ui-sref="serie({serie:'amsterdam'})">
             <div id="cirkel_drie" class="steden_cirkel">
                  <h2>Amsterdam</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/app/uploads/2014/07/10413-300x300.jpg" ng-click="" />
                  </div>
             </div>
         </a>
           <a ui-sref="serie({serie:'berlijn'})">
             <div id="cirkel_vier" class="steden_cirkel">
                  <h2>Berlijn</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/app/uploads/2014/07/10734-300x255.jpg" ng-click="" />
                  </div>
             </div>
           </a>
           <a ui-sref="serie({serie:'fatima'})">
             <div id="cirkel_vijf" class="steden_cirkel">
                  <h2>Fatima</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/app/uploads/2014/08/12189-schild-voor-de-stad-entroncamento.jpg" ng-click="" />
                  </div>
             </div>
         </a>
           <a ui-sref="serie({serie:'parijs'})">
             <div id="cirkel_zes" class="steden_cirkel">
                  <h2>Parijs</h2>
                  <div class="image_container">
                     <img ng-src="http://unamore.com/app/uploads/2014/07/12161-rivier-de-seine-a-paris1-300x300.jpg" ng-click="" />
                  </div>
             </div>
          </a>
         <!--  <a ui-sref="serie({serie:'grenada'})"> -->
             <div id="cirkel_zeven" class="steden_cirkel">
                  <h2>Grenada</h2>
                  <div class="image_container">
                     <img ng-src="{{weburl}}/app/uploads/2014/07/10413D-Adam-aardestad-300x300.jpg" ng-click="" />
                  </div>
             </div>
      <!--   </a>  -->
    
      <div class="col-md-8 col-md-offset-2">

        <div class="pagina lager" ng-class="{'scherp': fadein }">
              <div class="titel">
                  <span class="streep"></span><h1 ng-bind-html="pagina.title"></h1><span class="streep"></span>
              </div>
            <div ng-bind-html="pagina.tekst">
            </div>

            </div>

      </div>

    </div>

  </div> 

</section>

