<div class="language-picker">

    <a ng-click="nl();">
     	<img ng-src="/assets/img/flag_netherlands.png" alt="NL" title="NL" />
     </a>
    <a ng-click="en();">
    	<img ng-src="/assets/img/flag_united_kingdom.png" alt="EN" title="EN" /></a>

    <a ng-click="fr();">
        <img ng-src="/assets/img/flag_france.png" alt="FR" title="FR" />
    </a>

    <a ng-click="de();">
    	<img ng-src="/assets/img/flag_germany.png" alt="DE" title="DE" />
    </a>
    
    <a ng-click="po();">
    	<img ng-src="/assets/img/flag_portugal.png" alt="PO" title="PO" />
    </a>
    
</div>