<html ng-app="unamore">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>l'Ouverture d'Unamore</title>
    <meta name="description" content="Unamore schildert kleurrijke energien van steden, mensen en de kosmos. Ieder eerste weekend van de maand open atelier in Amsterdam.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

   
    <script type="text/javascript" src="https://fast.fonts.net/jsapi/61df5e1b-811a-4f50-a036-a439981967e4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="/assets/js/vendor.min.js"></script> 
   <!-- <script src="../app/themes/roots/assets/js/app.min.js"></script> --> 

   <script src="/assets/bower_components/angular-cookies/angular-cookies.min.js"></script>


    <script src="/assets/angular/ng-app.js"></script>
    <script src="/assets/angular/ng-controllers.js"></script>

    <script src="/components/archief/archief.js"></script>


    <script src="/assets/angular/ng-directives.js"></script>
    <script src="/assets/angular/ng-services.js"></script>
   

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"></link> 

  </head>



<body ng-controller="AppCtrl" ng-init="initLanguage();" class="{{state.name}}">
<base href="/">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58340732-1', 'auto');
  ga('send', 'pageview');

  </script>  

  <!--[if lt IE 8]>
    <div class="alert alert-warning">
      <p>You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
  <![endif]-->

  <header id="header" role="banner">
    <div class="banner container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="header">
            <a ui-sref="home"><h1>l'Ouverture d'Unamore</h1></a>
          </div>  
        </div>
        <div class="col-sm-3">
          <taalkiezer></taalkiezer>
        </div>
      </div>
    </div>
  </header>

  <klapmenu id="klapmenu"></klapmenu>

  <main ui-view id="main" role="main" ng-init="init()">
       
  </main>

</body>
</html>
