

@blauw : #193678;
@grijs: #ccc;
@lichtblauw : #63a2ff; 

/* ==========================================================================
   Base
   ========================================================================== */

body { 

    font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/maan_2500.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  -webkit-background-clip: border-box;
          background-clip: border-box;
  -webkit-background-origin: padding-box;
          background-origin: padding-box;
  -webkit-background-size: cover;
          background-size: cover;

}


.category-parijs { background-image: url("../img/background_paris.jpg"); }
.category-amsterdam { background-image: url("../img/background_amsterdam.jpg"); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);  }

body.paris { background-image: url("../img/tour-deiffel.jpg"); background-attachment: scroll; background-size: 100%; }  


h1 { font-family: 'Rufina', serif; font-size: 24px; }
h2 { font-family: 'Rufina', serif; font-size: 18px; margin-top: 25px; }
h3 { font-family: 'Rufina', serif; margin: 0; padding: 0; font-size: 15px;  }



/*img { border: 1px solid #fff; border-radius: 2px; } */


#main { position: relative; width: 100%; height: 100%; margin: 0; }