
body.home #header .header { display: block; text-align: center; 

		h1 { display: block; font-size: 45px; margin-top: 20px; }

}


#header { position: absolute; z-index: 1; width: 100%;

	.header  { position: relative; text-align: center; 

		h1 { color: #fff; font-size: 24px; letter-spacing: 1px; text-shadow: 1px 1px 3px #666; margin-top: 32px; }
		a:hover { text-decoration: none; }
		h1:hover { text-shadow: 1px 1px 3px #333; }

	} 

	.language-picker {	display: block;	margin-top: 31px; text-align: center;

		a {	display: inline-block;	line-height: 30px;	color: #fff; font-size: 24px; border-bottom: 0; }
		
		img { height: auto; width: 24px; border: none; margin-right: 3px; }
		
		img:hover { width: 25px; height: auto; margin-right: 2px; }

	}
}
