#home_content { position: relative; top: 60px; left: 200px;  padding: 30px 0; color: #193678; .clearfix(); 

 /*   #background { position: absolute; height: 100%; width: 100%; margin: 0px 0; 
    
        #cirkel { background: #fff; opacity: .7; height: 100%; width: auto; border-top-left-radius: 140px; border-top-right-radius: 1200px; border-bottom-right-radius: 1200px; }
    }*/
    
    h3 { font-size: 24px; margin: 20px 0; } 
    
    span.datum { display: block; color: #999; .kapitalen();  }

    #center {   position: relative; z-index: 999; float: left; width: calc(70% - 190px); background: #fff; opacity: .7; border-top-left-radius: 140px; border-top-right-radius: 420px; border-bottom-left-radius: 10px; border-bottom-right-radius: 140px;
    
      #tekst { padding: 60px 180px 60px 60px; }  
    
    }

    #zijbalk {position: relative; float: left; width: calc(30% - 80px); /*margin-top: 100px; */ text-align: center; padding-left: 40px;

        .steden_cirkel  { margin: 60px auto ;}

        #weekenden { background: #fff; opacity: .7; z-index: 999; text-align: left; padding: 30px;  border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
     
          ul {  list-style: none; margin: 0;  padding: 0;   
              
              li {  padding-bottom: 7px;  margin-bottom: 7px; border-bottom: 1px dotted #ccc;

                    span.datum { display: block; .kapitalen; color: @donkerblauw; }
              }
          }
        }
    }

    

}

/* TUSSENKOPJES */ 

#contact_titel, #series_titel { position: relative; /*top: 100%; */

  .titel { text-align: center; height: 80px; margin: 40px 0; width: 100%; 

        span.streep { display: inline-block; height: 1px; width: 60px; background: #fff; margin: 0 0 7px 0; -webkit-box-shadow: 1px 1px 3px #666; box-shadow: 1px 1px 3px #666;}
        
        h1 { display: inline-block; background: transparent; color: #fff; text-shadow: 1px 1px 3px #666; font-size: 36px; line-height: 30px; height: 30px; padding: 0 20px; letter-spacing: 1px; }
  } 
}

/* CONTACT */ 

#contact { display: block; position: relative; margin: 30px 0; .clearfix(); background: #fff; opacity: .7; width: calc(100% - 300px); margin-left: 200px; padding: 30px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;

  
      h3 { font-size: 24px; margin: 20px 0; }
      
      div.box { height: 540px; }
      
      #kaart { position: relative; float: left; height: 60%; width: calc(50% - 30px); margin-left: 30px; margin-top: 30px;
      
            img { width: 100%; }  
      
            ul {  list-style: none; margin: 30px 0; padding: 0; }
            
            a { color: @donkerblauw; line-height: 30px;  }
      
            a .glyphicon { font-size: 10px; line-height: 30px; margin: -10px 7px 0 0; }
            
            a:hover { font-style: italic; line-height: 30px; text-decoration: none; }

      }

      #contact_tekst {  position: relative; float: left; width: calc(50% - 90px); margin-left: 60px; color: @donkerblauw;/* position: absolute; left: 50%; top: 50%;*/
        
/*        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
           transform: translateY(-50%) translateX(-50%);*/
      }
}

/* LINKS NAAR SERIES */ 



    .steden_cirkel { position: relative; z-index: 99; text-align: center; overflow: visible; height: 240px; width: 240px; margin-bottom: 120px;
    
        h2 { position: absolute; margin-top: 0px; .kapitalen(); font-size: 13px; color: @donkerblauw; background: #fff; width: 100%; line-height: 30px; top: 50%; margin-top: -15px; opacity: 0.8; }
        
        .image_container { overflow: hidden; border-radius: 240px; border: 1px solid #fff; height: 240px; 
        
            img { height: 100%; width: auto; margin: 0 auto; border: none; }

        }
  }




