/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "mixins.less";
@import "typography.less";
@import "colours.less";

@import "base.less";
@import "showcase.less";
@import "home.less";
@import "header.less";
@import "menu.less";
@import "page.less";
@import "prijzen.less";  
@import "post.less";
@import "serie.less";
@import "scrollbar.less";    

@import "spinner.less";    


@import url(https://fonts.googleapis.com/css?family=Rufina);


.home-7steden { 

    h2 { display: inline; position: absolute; left: 5px; bottom: 5px;  background: #fff; color: @blauw; margin: 0; padding: 5px 10px; line-height: 22px; height: 32px; border-radius: 5px; font-size: 15px; opacity: .75;}
    img { width: 100%; }

}

