#klapmenu { .transition(all 0.5s ease-out); position: absolute; z-index: 999; top: -580px; left: -50px; width: 160px;  

	#zwevend_menu { width: 160px; margin: 0 auto; opacity: 0.8;

		.menu { padding: 0; background: #ffffff;
	
			.lijn { display: block; border-bottom: 1px dotted #cccccc; margin-top: 10px; margin-bottom: 10px; }
			
			.item { display: block; font-family: 'Arbutus Slab', serif; font-size: 15px; padding: 0 10px 0 20px; color: #193678; line-height: 28px; text-align: left; }
			.item a { color: #193678; line-height: 30px; }
			.item a:hover { font-style: italic; line-height: 30px; text-decoration: none; }
		}

		.menu-bovenkant { position: relative; background: #ffffff; width: 160px; height: 160px; border-top-right-radius: 140px;
		
			span { .rotate(-45deg);  position: absolute; font-size: 28px; top: 30px; left: 20px; color: #193678; }
		}

		.menu-onderkant { position: relative; width: 160px; height: 160px; background: #ffffff; border-bottom-right-radius: 140px;
		
			span { .rotate(-45deg); position: absolute; font-size: 28px; top: 40px; left: 60px; color: #193678; }
		}

	}

}


#klapmenu.open { .vertical-align; }