#nieuwsbrieven, #steden, #serie, #pagina, #reacties { min-height: 100%; padding: 100px 0 30px 0; }

.pagina { .transition(opacity 0.5s ease-in); text-align: justify; background: #fff; color: @donkerblauw; padding: 20px 30px; border-radius: 2px; opacity: 0;
 
    .titel { text-align: center; height: 40px; margin-bottom: 40px;

        span.streep { display: inline-block; height: 1px; width: 60px; background: @donkerblauw; margin: 0 0 7px 0; } 

     } 

     h1 { display: inline-block; background: #fff; line-height: 30px; height: 30px; padding: 0 20px; text-transform: uppercase; letter-spacing: 2px;}

     h3 { font-size: 17px; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; text-align: center; padding: 30px 0 10px 0; }

    img { width: 100%; height: auto;}
}

.lager { margin-top: 200px; }

.scherp { .transition(opacity 0.5s ease-in); opacity: 0.8; }

#reacties { position: relative; opacity: 0; color: @donkerblauw; 

      img { margin: 0 15px 0 0; width: 91%; height: auto; max-height: 200px; }

      .reactie { background: #fff; border-radius: 2px; margin-bottom: 30px; padding-top: 30px; padding-bottom: 30px; 

          .tekst { margin: 0 20px; } 
          h2 {  margin-top: 0; font-size: 20px; }

      } 
}

#reacties.scherp { .transition(opacity 1s ease-in); opacity: 0.8; }


/* ARCHIEF NIEUWSBRIEVEBN */ 


#zijbalk_links { .transition(top 0.5s ease-out); top: 0;

    #jaartallen { margin: 0 0 15px 15px; 

        .jaren_container, .jaren_container_bodem { font-size: 13px; color: @donkerblauw; width: 100%; background: #fff; line-height: 24px; opacity: 0.7; border-radius: 2px; text-align: center; 

            a {display: inline-block; color: #333; margin: 0; padding: 0 5px; cursor: pointer; }
        } 
    } 

    #archief .bericht { position: relative; padding-right: 0; margin-bottom: 15px; 

        img { width: 100%; max-height: 100px; }
        span.archief_datum { display: block; margin-top: -24px; width: 100%; margin-right: 15px; background: #fff; opacity: 0.7; line-height: 24px; color: @donkerblauw; text-align: center; font-size: 13px; font-style: italic; text-transform: lowercase; border-radius: 0 0 2px 2px; }
    } 
}

#steden, .steden {

      .steden_cirkel { position: absolute; z-index: 99; height: 160px; width: 160px; 

        .image_container { height: 160px; width: 160px; border-radius: 160px; overflow: hidden; text-align: center; 

          img { height: 160px; width: auto; margin: auto; }
        }

      } 

      #cirkel_een { left: calc(16% - 80px); top: 430px; }
      #cirkel_twee { left: calc(22% - 80px) ; top: 250px;}
      #cirkel_drie { left: calc(35% - 80px); top: 135px; }
      #cirkel_vier { left: calc(50% - 80px); top: 100px; }
      #cirkel_vijf { right: calc(35% - 80px); top: 135px; }
      #cirkel_zes { right: calc(22% - 80px); top: 250px; }
      #cirkel_zeven { right: calc(16% - 80px); top: 430px; }


}

/* LANDINGSPAGINA PARIJS */ 

  #pagina.paris { 

      #aankondiging {  text-align: center; color: #fff;

            h1 {  font-size: 60px; } 
            h2 {  font-size: 80px; font-family: georgia, serif; font-weight: 700; font-style: italic; text-shadow: 1px 1px 3px #666; margin-bottom: 120px;  } 
            .datum { color: @donkerblauw; font-size: 24px; text-shadow: 1px 1px 3px #fff; text-align: left;} 
            .adres { color: @donkerblauw; font-size: 24px; text-shadow: 1px 1px 3px #fff; text-align: right;} 

      }

      .pagina { min-height: 1150px;}


  }