
.famous-container-group { background: #fff; opacity: 0.8; border-radius: 5px;  }

.nieuwsbrief  { color: @blauw; padding: 20px;  text-align: justify; 

   .titel { text-align: center; height: 40px; margin: 0px 20px 40px 20px;

         span.streep { display: inline-block; height: 1px; width: 60px; background: @blauw; margin: 0 0 7px 0; }

   }

   h1  { display: inline-block; line-height: 30px; height: 30px; padding: 0 20px; text-transform: uppercase; letter-spacing: 2px; }
   h3 { font-size: 17px; font-family: @font-family-serif; font-style: italic; text-align: center; padding: 30px 0 10px 0; }


}




