table#lijst_met_prijzen { color: @donkerblauw; margin-top: 40px; 

	tr { border-bottom: 1px dotted @donkerblauw; 

		td { padding: 7px 20px 7px 0;  }
		td.maten { min-width: 150px; }
		td.prijzen { min-width: 100px;  text-align: right;} 
	}


 

}