
#serie { display: block; width: 100%; height: 100%;

    #schilderij_controller { height: 100%; }
    

    .schilderij-container { position: relative; top: 90px; width: 100%; height: 80%; overflow: hidden; text-align: center; 
    
        img { height: 100%; width: auto; .transition(all 0.5s ease-out);  }
        
        .schilderij_info { .transition(all 0.5s ease-out); position: absolute; top: 0; right: -460px; height: 100%; width: 460px; background: #fff; opacity: 0.6; color: @donkerblauw; border: 1px solid #fff; border-radius: 2px; padding: 20px 40px; text-align: center; 
        

            .informatie { .transition(all 2s ease-out);  height: 100%; opacity: 0; padding-bottom: 40px; 
            
                h1 { margin-bottom: 30px; }
                .medium { display: block; margin-bottom: 30px; }
                span { font-style: italic; }
                div.close_icon span { font-style: normal; display: block; padding: 60px; }
            }



            .click-container { .transition(all 0.3s ease-out); position: absolute; left: -70px; top: 50%; margin-top: -70px; width: 70px; height: 140px; background: #fff; border-top-left-radius: 140px; border-bottom-left-radius: 140px; 

              span.glyphicon-info-sign { display: block; position: absolute; z-index: 9999; right: 20px; top: 50%; margin-top: -12px; font-size: 24px; } 

            }   
        }
    }
    
    .serie-scroller { .transition(all 0.5s ease-out); position: absolute; top: 0; left: -360px; height: 100%; width: 360px; background: #fff; opacity: 0.6; color: @donkerblauw; border: 1px solid #fff; border-radius: 2px; padding: 20px; text-align: left;
           
        .scroll-container { height: 100%; opacity: 0; }
    
        span.glyphicon-remove { font-size: 20px; bottom: 20px; right: 20px; display: none; }
    
        .serie_img_container { .transition(all 1s ease-out); display: inline-block; min-width: 60px; margin: 2px; height: 100px; 
    
              img { height: 100%; width: auto; max-width: 140px; border: none; }
        }
    

        .click-container { .transition(all 0.3s ease-out); position: absolute; right: -70px; top: 50%; margin-top: -70px; width: 70px; height: 140px; background: #fff; border-top-right-radius: 140px; border-bottom-right-radius: 140px;
      
            span.glyphicon-th { display: block; position: absolute; z-index: 9999; right: 30px; top: 50%; margin-top: -10px; font-size: 20px; }    
      
        }

    }
    
}



/* SCROLLBALKEN */ 

.ngscroll-container { padding-bottom: 60px; }
.serie-scroller .ngscroll-scrollbar { right: -3px !important; }
.schilderij_info .informatie .ngscroll-scrollbar { right: -30px !important; }



@media (max-width: 767px) {
  
  #serie .schilderij-container img { width: 100%; height: auto; }
}