#showcase { position: fixed; z-index: 0; background: #eee; height: 100%; width: 100%; overflow: hidden; text-align: center;

    img { width: 100%; position: absolute; left: 50%; top: 50%; }
    
    #arrow_down { .transition(opacity 0.5s ease-in); position: absolute; top: auto; bottom: 25px; left: 50%; margin-left: -60px; color: @wit; font-size: 120px; opacity: 1; }
    #arrow_down.blauw { color: @donkerblauw; }
}

#showcase.move {

  img {
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
           transform: translateY(-50%) translateX(-50%);
        -webkit-animation: move 30s ease-in-out;
        -o-animation: move 30s ease-in-out;
           animation: move 30s ease-in-out; 
   } 

}


@-webkit-keyframes move {
  0% {
    top: 50%;
    left: 50%;
    width: 3000px;
  }
  20% {
    top: 65%;
    left: 50%;
    width: 100%;
  }
  40% {
    top: 50%;
    left: 95%;
    width: 3000px;
  }
  60% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
  80% {
    top: 75%;
    left: 5%;
    width: 3000px;
  }
  100% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
@-o-keyframes move {
  0% {
    top: 50%;
    left: 50%;
    width: 3000px;
  }
  20% {
    top: 65%;
    left: 50%;
    width: 100%;
  }
  40% {
    top: 50%;
    left: 95%;
    width: 3000px;
  }
  60% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
  80% {
    top: 75%;
    left: 5%;
    width: 3000px;
  }
  100% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
@keyframes move {
  0% {
    top: 50%;
    left: 50%;
    width: 3000px;
  }
  20% {
    top: 65%;
    left: 50%;
    width: 100%;
  }
  40% {
    top: 50%;
    left: 95%;
    width: 3000px;
  }
  60% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
  80% {
    top: 75%;
    left: 5%;
    width: 3000px;
  }
  100% {
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
