.spinner {
  position: absolute;
  z-index: 8999;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
.spinner.spinner-show {
  opacity: 1;
}
.spinner.spinner-hide {
  opacity: 0;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -o-animation: bounce 2s infinite ease-in-out;
     animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  -o-animation-delay: -1s;
     animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes bounce {
  0%,
  100% {
    -o-transform: scale(0);
       transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
       transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    -o-transform: scale(0);
       transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
       transform: scale(1);
    -webkit-transform: scale(1);
  }
}