h1 {
  font-family: 'Rufina', serif;
  font-size: 24px;
}
h2 {
  font-family: 'Rufina', serif;
  font-size: 18px;
  margin-top: 25px;
}
h3 {
  font-family: 'Rufina', serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
a {
  color: #193678;
  border-bottom: 1px dotted #193678;
}
a:hover {
  color: #193678;
  text-decoration: none;
  font-style: italic;
}

.kapitalen { font-size: 12px; letter-spacing: 1px; text-transform: uppercase; }